<div class="btn-group custom-drop-down" >
  <label>
    <select class="select-style" [disabled]="disabled" [ngClass]="{'not-allow' : disabled}">
      <option *ngFor="let item of list" role="menuitem"
              style="height: 50px !important;min-height: 50px !important; border: 1px solid black;">
        <a target="_self" (click)="toggle(item)">
          <span [ngClass]="{'ellipsis' : showEllipsis == false}"
                *ngIf="displayField != undefined && displayField.length > 0">{{item[displayField]}}</span>
          <span [ngClass]="{'ellipsis' : showEllipsis == false}"
                *ngIf="displayField == undefined || displayField.length === 0">{{item}}</span>
        </a>
      </option>
    </select>
  </label>
</div>





